/* 
    Created on : August 24, 2014, 21:20:19 
    Author  : Matus Macak FOLCON, s.r.o | matus.macak@folcon.sk
    Version : Developer version of global stylesheet, overides bootstrap definitions
*/ 

/*
    Colors:
        #33cc99 - main green
        #279d76 - border green

        #279d76 - active green
        #248f6b - border active green 
        
*/

/*
    Classes:
        .clean - Removes borders background etc. for a clean look
            use with: .btn
         
*/

/*
    View-port sizes
    @media(max-width:767px){}
    @media(min-width:768px){}
    @media(min-width:992px){}
    @media(min-width:1200px){}
*/

/* Bootstrap */
@import url('bootstrap/css/bootstrap.css'); 

html{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    overflow: auto;
}
body{
    height: 100%;
    background: #fafafa;
}
.center-block{
    float: none;
}
.clean.btn{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
}
.push:after{
    display: table;
    content: " ";
    display: table;
    height: 20px
}

/* .navbar */
.navbar{
    border-radius: 0px;
}
.navbar-default{
    background-color: #fff;
    border-color: #ddd;
}

/*ID-s*/
#main-logo{
    display: inline-block;
    width: 198px;
    background: transparent url('content.main/essentials.png') 15px 15px no-repeat;
}

/* Bootstrap override */
.btn-info{
    background-color: #33cc99;
    border-color: #279d76; 
}
.btn-info:hover, .btn-info:focus{
    background-color: #279d76;
    border-color: #248f6b
}
.btn-info.disabled, .btn-info[disabled]
/*, fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active */
{
    background-color: #99e5cc;
    border: #279d76
}
.form-control:focus{
    border-color: #279d76;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 204, 153, .4);
}
.panel{
    border-color: #ddd;
}

.input[type=file]{
    height: 22px;
}
.progress{
    height: 22px;
    margin-bottom: 0;
}
.progress-bar-info{
    background-color: #33cc99;
}
.row>hr{
    margin-right: 15px;
    margin-left: 15px;
}
hr{
    border-top-color: #ddd;
}
/*Workout view*/
#chart-canvas{
    margin: 0 50px
}
/*CHART*/
.chart .datapath{
    fill:none;
    stroke-width: 1;
    stroke: #33CC99;
}
.chart .datapath.altitude{
    fill: #eee;
    stroke-width: 0;
}
.chart .datapath.heart_rate{
    stroke: #CC3366;
}
.chart .datapath.cadence{
    stroke: #9933cc;
}
.chart .datapath.power{
    stroke: #000;
}
.chart .axis{
    fill: none;
    stroke: #aaa;
    stroke-width: 1
}
.chart text{
    fill: #aaa;
    stroke: none;
    font-size: 10px;
}
.chart .grid .tick,
.chart .grid line{
    stroke: #ddd;
}
.chart .grid path {
    stroke-width: 0;
}
.chart .line-hover { 
  stroke: #33CC99;  
  fill: none;
  stroke-width: 1px;
}
.chart .line-select { 
  stroke: #000;  
  fill: none;
  stroke-width: 1px;
}